
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre');
@import url('/fonts/Zawgyi-One.ttf');

@font-face {
	font-family: "Zawgyi";
	src: url('/fonts/Zawgyi-One.ttf');
}

// Variables
@import 'variables';
@import '~admin-lte/dist/css/adminlte.css';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.mirim_font{
	font-family : 'Miriam Libre', sans-serif;
}
 *{
 	font-family : 'Zawgyi'
 }
