
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre');
@import url('/fonts/Zawgyi-One.ttf');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskannada.css');

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");


@font-face {
	font-family: "Zawgyi";
	src: url('/fonts/Zawgyi-One.ttf');
}

// Variables
@import 'variables';
@import '~admin-lte/dist/css/adminlte.css';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.mirim_font{
	font-family : 'Noto Sans Kannada''Miriam Libre', sans-serif;
}
 *{
	font-family :'Noto Sans Kannada','Poppins', sans-serif;;
	font-style: "regular 400";
 }

